/*@import url(http://fonts.googleapis.com/css?family=Jura:400,500);*/
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura-Light.ttf'),url('../fonts/Jura-Regular.ttf'),url('../fonts/Jura-Medium.ttf'),url('../fonts/Jura-DemiBold.ttf');
	
}
.navbar-header{
	width:100%;
}
header{
	top:-5px;
	background-repeat:repeat-x;
	background-image:url("../img/strip_header.png");
	font-family:Jura,sanserif;
}
header.navbar{
	height:40px;
	
	width:100%;
}
header.navbar .container-fluid{
	height:40px;
	margin-top:4px;
	vertical-align:middle;
	text-align :center;
}
.button-nav-bar:hover{
	color:black;
}
.button-nav-bar{
	background-color:rgba(79,79,79,0.5);
	border:1px solid rgba(70,70,70,0.8);
	padding:6px 10px;
	border-radius:0px;
	color:white;
	font-weight:bold;
}
.button-nav-bar.go{
	/*border-top-right-radius:15px;
	border-bottom-right-radius:15px;*/
	border-radius:5px;
	
	box-shadow:inset 0px 0px 2px 30px rgba(28,28,28,0.1);
}
.button-nav-bar.back{
	/*border-top-left-radius:15px;
	border-bottom-left-radius:15px;*/
	border-radius:5px;
	box-shadow:inset 0px 0px 2px 30px rgba(28,28,28,0.1);
}
.button-nav-bar.blue{
	background-color:rgba(91,164,206,0.5);;
}
#button-back{
	position:absolute;
	left:5px;
	border:0px ;/*
	background-color:#536682;
	border:1px solid rgba(70,70,70,0.8);
	padding:6px 10px;
	border-radius:0px;*/
	/*border-top-left-radius:5px;
	border-bottom-left-radius:5px;*/
}
#button-menu-group-right{
	position:absolute;
	right:5px;
}
#wrapper{
	width:100%;
	position:absolute;
	top:44px;
	bottom:50px;
	background-color:white;
	font-family:Jura,sanserif;
}
#navPage{
/*	background-image:url('../img/stressed_linen.png');*/
	background-color:#33465d;
}
#wholePage{}
#navPage ul {
	list-style:none;
	margin:0px;
	padding:0px 0px;
}
#navPage ul li.active{background-color:rgba(79,79,79,0.5);
	color:white;
}
#navPage ul li.category{
	background-color:rgba(79,79,79,0.5);
	color:white;
	font-size:10px;
	text-transform:uppercase;
	height:22px;
	line-height:5px;
}
#navPage ul li{
	color:rgba(79,79,79,0.5);
	font-weight:bold;
	padding:10px;
	width:100%;
	border-bottom:1px solid rgba(79,79,79,0.1);
	height:44px;
}
#navPage ul li a{
	color:rgba(79,79,79,0.5);
	font-weight:bold;
	display:block;
	width:100%;
	height:100%;
}
#navPage ul li a:hover{
	text-decoration:underline;
}
.pnavbar-brand{
	color:white;
	font-size:20px;
	margin-left:10px;
	
}
footer {
	bottom:-5px !important;
	background-color:white;
	font-family:Jura,sanserif;
}
footer .navbar-inner .container-fluid{
	background-image:url("../img/strip_tab.png");
	background-repeat:repeat-x;
	height:50px;
	width:100%;
	text-align:center;
}
footer .navbar-inner .container-fluid .menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
	margin:0px auto;
	display:block;
	position:relative;
}
footer .navbar-inner .container-fluid .menu ul li{
	display:inline-block;height:50px;
	line-height:50px;
	color:white;
	margin:0px;
	padding:0px 10px;
	border-left:1px solid rgba(28,28,28,0.9);
	border-right:1px solid rgba(28,28,28,0.9);
	min-width:60px;
	font-weight:bold;
}

footer .navbar-inner .container-fluid .menu ul li.media span{
	position:relative;
	bottom:-12px;
	
	
}

footer .navbar-inner .container-fluid .menu ul li.active,footer .navbar-inner .container-fluid .menu ul li:hover{

	border-left:1px solid rgba(28,28,28,0.7);
	border-right:1px solid rgba(28,28,28,0.7);
	box-shadow:inset 0px 0px 2px 30px rgba(28,28,28,0.5);
	color:#3182c8;
	cursor:pointer;
	
}
.clear{clear:both;}
#wholePage{
	height:100%;
	display:block;
	width:100%;
	position:absolute;
	left:0px;
	/*** offest left,right blur left,right **/
	box-shadow:-2px 0px 10px 0px #888;
	transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;
}
#wholePage header,#wholePage footer{
	left:0px;
	/*** offest left,right blur left,right **/
	
	transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;
}

#navPage{
	left:-250px;
	width:250px;
	display:block;
	position:absolute;
	height:100%;
	background-color:rgba(230,230,230,1);
	height:100%;
	transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;
	
}
@keyframes np_slideInFromLeft {
  0% { -webkit-transform: translate3d(0px,0,0); }
  100% { -webkit-transform: translate3d(250px, 0, 0); }
}
}
@keyframes np_nav_slideInFromLeft {
  0% { -webkit-transform: translate3d(-250px,0,0); }
  100% { -webkit-transform: translate3d(0px, 0, 0); }
}
@keyframes np_slideOutFromRight {
  0% { -webkit-transform: translate3d(250px,0,0); }
  100% { -webkit-transform: translate3d(0px, 0, 0); }
}
@keyframes np_nav_slideOutFromRight {
  0% { -webkit-transform: translate3d(-0px,0,0); }
  100% { -webkit-transform: translate3d(-250px, 0, 0); }
}

@-webkit-keyframes np_slideInFromLeft {
  0% { -webkit-transform: translate3d(0px,0,0); }
  100% { -webkit-transform: translate3d(250px, 0, 0); }
}
@-webkit-keyframes np_nav_slideInFromLeft {
  0% { -webkit-transform: translate3d(-250px,0,0); }
  100% { -webkit-transform: translate3d(0px, 0, 0); }
}
@-webkit-keyframes np_slideOutFromRight {
  0% { -webkit-transform: translate3d(250px,0,0); }
  100% { -webkit-transform: translate3d(0px, 0, 0); }
}
@-webkit-keyframes np_nav_slideOutFromRight {
  0% { -webkit-transform: translate3d(-0px,0,0); }
  100% { -webkit-transform: translate3d(-250px, 0, 0); }
}
.inWholePage{
	/*-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	 -webkit-transform: translate3d(0px, 0, 0);*/
	/*left:0px;*/
	/*animation: np_slideOutFromRight 1s;
	-webkit-animation: np_slideOutFromRight 1s;*/
	
	/*transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;*/
	left:0px !important;
	transition:left 0.5s ease-out !important;
	-webkit-transition:left 0.5s ease-out !important;
}
.outWholePage{
	/*-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
	/*left:250px;*/
	/*animation: np_slideInFromLeft 1s;
	-webkit-animation: np_slideInFromLeft 1s;*/
	/*transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;*/
	/*-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	 -webkit-transform: translate3d(250px, 0, 0);*/
	 left:250px !important;
	transition:left 0.5s ease-out !important;
	-webkit-transition:left 0.5s ease-out !important;
}
.inNavPage{
	/*-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;*/
	/*left:0px;*/
	/*animation: np_nav_slideInFromLeft 1s;
	-webkit-animation: np_nav_slideInFromLeft 1s;*/
	/*transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;*/
	/*-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: ease;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	 -webkit-transform: translate3d(0px, 0, 0);*/
	 left:0px !important;
	transition:left 0.5s ease-out !important;
	-webkit-transition:left 0.5s ease-out !important;
}
.outNavPage{
/*
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;*/
	/*left:-250px;
	width:0px !important;*/
	/*animation: np_nav_slideOutFromRight 1s;
	-webkit-animation: np_nav_slideOutFromRight 1s;*/
	
	/*transition:left 0.5s ease-out;
	-webkit-transition:left 0.5s ease-out;*/
	/*-webkit-animation-duration: 0.3s;*/
	
	left:-250px !important;
	transition:left 0.5s ease-out !important;
	-webkit-transition:left 0.5s ease-out !important;
	/*
	 -webkit-transform: translate3d(-250px, 0, 0);*/
}
.mb-page{
	white-space:nowrap;
}
header{width:inherit;left:inherit;}
footer{width:inherit;}



.parent-horiz {
	position:absolute; width:100%;  height:100%;
	white-space:nowrap;
	/*border:1px solid rgb(220,220,220);*/
}

.scroller-horiz{
 position:absolute;height:95%; 
 margin:0px auto;
 
 }
 .scroller-horiz .panel.panel-default{
	display:inline-block;
 }
  .panel-group .panel.panel-default{
	min-width:310px;
	max-width:310px;
  }
  .panel-group .panel.panel-default p{
	
	word-wrap:break-word;
	white-space:normal;
  }
 .panel-group{
  width:313px;height:330px;position:relative;top:5px;margin:0px auto;
  
  z-index:999;
 }
 .panel-group .root{
	box-shadow:inset 5px -1px 5px -5px rgba(34,34,34,0.3);
  z-index:999;
	width:15px;
	height:100%;
	position:absolute;
	left:0px;
 }
 .panel-group .edge{
	box-shadow:inset -5px -1px 5px -5px rgba(34,34,34,0.3);
	
  z-index:999;
	width:15px;
	height:100%;
	position:absolute;
	right:-5px;
 }
 .panel-group .image-show-next{
	position:absolute;
	right:0px;
	z-index:500;
	width:32px;
	height:32px;
	font-size:25px;
	color:rgba(70,70,70,0.1);
	
 }
  .panel-group:hover .image-show-next{
	color:rgba(70,70,70,0.5);
  }
.form-group label{
	display:block;height:34px;
	line-height:34px;
}