<div class="jira-content" style="width:100%; height:100%;">
	<div class="panel-group" style="" >
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title" style=""><span style="text-transform:capitalize">{{mode}}</span> Asset Pricing for Asset#{{id}}</h3>
			</div>
			<div class="panel-body container" style="min-height:240px">
				<form class="form" name="formAssetPricing" novalidate>
					<div class="row form-group">

						<div class="col-md-6">
							<label for="txtPricingName" class="control-label visible-md">Pricing Name
							</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" id="txtPricingName" ng-model="pricing.name" required
							placeholder="Ex: Electricity Consumption"
							/>
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-6">
							<label for="cboPricingType" class="control-label  visible-md">Pricing Type
							</label>
						</div>
						<div class="col-md-6">
							
							<select class="form-control" id="cboPricingType" ng-model="pricing.type" placeholder="Select a pricing type" required>
								<option value="Daily">Daily</option>
								<option value="Weekly">Weekly</option>
								<option value="Monthly">Monthly</option>
								<option value="Anually">Anually</option>
							</select>
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-6">
							<label for="cboCurrency" class="control-label  visible-md">Currency
							</label>
						</div>
						<div class="col-md-6">
							
							<select class="form-control" id="cboCurrency" ng-model="pricing.currency" placeholder="Select a currency" required>
								<option value="Riel">Riel</option>
								<option value="Dollar">Dollar</option>
								<option value="Bat">Bat</option>
								
							</select>
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-6">
							<label for="txtPrice" class="control-label visible-md">Price
							</label>
						</div>
						<div class="col-md-6">
							<input type="number" class="form-control" id="txtPrice" ng-model="pricing.price" required
							placeholder="Price. Ex: 50"
							/>
						</div>
					</div>
					<div class="row form-group">

						<div class="col-md-6">
							<label for="txtDueDate" class="control-label visible-md">Due Date
							</label>
						</div>
						<div class="col-md-6">
							<input type="date" class="form-control" id="txtDueDate" ng-model="pricing.duedate" required
							placeholder="Due Date: Ex: 19/9/2013"
							/>
						</div>
					</div>
					<div class="row form-group">						
						<div class="col-xs-6  col-sm-6 col-md-6">
							<button ng-disabled="formAssetPricing.$invalid" style="width:100%" class="btn btn-warning" ng-click="createPricing(pricing)">
								<span style="text-transform:capitalize">{{mode}}</span> Asset Price Plan
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="panel-footer">Asset Management System</div>
		</div>
	</div>
</div>