
<div id="navPage" class="navPage">
	<div id="navPage-wrap-wrapper" class="navPage-wrap-wrapper" style="position:absolute;overflow-y:scroll;bottom:0px;left:0px;top:0px;width:100%;" >
		<div id="scroller" style="position:absolute;width:100%;">
			<ul>
				<li class="active"> <span class="glyphicon glyphicon-book "></span> My Home
				</li>
				<li> <span class=""></span> <a href="#">My Vault</a>
				</li>
				<li> <span class=""></span> <a href="#">My Account</a>
				</li>
				<li class="category"> <span class=""></span> Important
				</li>
				<li> <span class=""></span> <a href="#">Unpaid Invoices <span class="badge pull-right">99+</span></a>
				</li>
				<li> <span class=""></span> <a href="#">Due Invoices <span class="badge pull-right">99+</span></a>
				</li>
				<li> <span class=""></span> <a href="#">Message <span class="badge pull-right">99+</span></a>
				</li>
				<li class="category"> <span class=""></span> Current Assets
				</li>
				<li> <span class=""></span> <a href="#">Rooms <span class="badge pull-right">99+</span></a>
				</li>
				<li> <span class=""></span> <a href="#"> Bikes <span class="badge pull-right">99+</span></a>
				</li>
				<li> <span class=""></span> <a href="#">Cars <span class="badge pull-right">99+</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>

</script>
<div id="wholePage" class="wholePage">
	<header  class="navbar navbar-fixed-top" ng-include="app.paths.view('layouts/_header')"></header>
			<div id="wrapper"   plus-template>

			</div>		
	<footer class="navbar navbar-fixed-bottom" ng-include="app.paths.view('layouts/_footer')"></footer>
	<div class="clear"></div>
</div>
